
div{
  border:solid black;
}

body{
  background-color: #dadbdd;
}

.bottom{
  float: none;
  display: table-cell;
  vertical-align: bottom;
}

.circle_xl {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.circle_lg {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.circle_md {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.circle_sml{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.circle_xs{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.circle_xxs{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}



.pink_circle{
  background-color: pink;
}


#red_circle{
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 100%;
  border-color: red solid;
}
.blue_circle{
  background-color: blue;

}
.yellow_circle{
  background-color: yellow;
}
.orange_circle{
  background-color: orange;
}
.green_circle{
  background-color: green;
}
.purple_circle{
  background-color: purple;
}

.brown_circle{
  background-color: brown;
}

.teal_circle{
  background-color: teal;
}

.black_circle{
  background-color: black;
}

.violet_circle{
  background-color: violet;
}
.hot_pink_circle{
  background-color: hotpink;
}

#cake{
  height:180px;
  width:180px;
  border-radius: 100%;
  border: solid black 1px;
}
#me{
  height:200px;
  width:200px;
  border-radius: 100%;
  border: solid black 1px;
}
#illustration{
  height:250px;
  width:250px;
  border-radius: 100%;
  border: solid black 1px;
}
#type{
  height:200px;
  width:200px;
  border-radius: 100%;
  border: solid black 1px;
}
#web{
  height:180px;
  width:180px;
  border-radius: 100%;
  border: solid black 1px;
}

h3{
  font-family: ThrowMyHandsUpInTheAir;
  color: black;
  font-size: 50px;
}
