
/*div{
  border:solid black;
}*/

body{
  background-color: #eceeed;
}

.bottom{

}

.circle_xl {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.circle_lg {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.circle_md {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.circle_sml{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.circle_xs{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.circle_xxs{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}


/* pink color*/
.dark_pink_circle{
  background-color: #e86c74;
}
.med_pink_circle{
  background-color: #e86c74;
}
.lt_pink_circle{
  background-color: #fac1ba;
}

/* teal color */
.dark_teal_circle{
  background-color: #37c0b0;
}
.med_teal_circle{
  background-color: #a0d9d2;
}
.lt_teal_circle{
  background-color: #c4e7e9;
}

/* yellow color */
.dark_yellow_circle{
  background-color: #ffd274;
}
.med_yellow_circle{
  background-color: #ffd879;
}
.lt_yellow_circle{
  background-color: #f9dec0;
}

/*purple color*/
.dark_purple_circle{
  background-color: #a092c7;
}
.med_purple_circle{
  background-color: #d3abcd;
}
.lt_purple_circle{
  background-color: #eed7e9;
}

/* green color */
.dark_green_circle{
  background-color: #2db98a;
}
.med_green_circle{
  background-color: #14b37d;
}
.lt_green_circle{
  background-color: #97cf90;
}




#cake{
  height:180px;
  width:180px;
  border-radius: 100%;
  border: solid black 1px;
}
#me{
  height:200px;
  width:200px;
  border-radius: 100%;
  border: solid black 1px;
}
#me_2{
  height:200px;
  width:200px;
  border-radius: 100%;
  border: solid black 1px;
}
#illustration{
  height:250px;
  width:250px;
  border-radius: 100%;
  border: solid black 1px;
}
#illustration_2{
  height:200px;
  width:200px;
  border-radius: 100%;
  border: solid black 1px;
}
#type{
  height:200px;
  width:200px;
  border-radius: 100%;
  border: solid black 1px;
}
#web{
  height:180px;
  width:180px;
  border-radius: 100%;
  border: solid black 1px;
}
#resume{
  height:250px;
  width:250px;
  border-radius: 100%;
  border: solid black 1px;
}

h3{
  font-family: ThrowMyHandsUpInTheAir;
  color: black;
  font-size: 50px;
}
