h3 {
  color: blue;
  float: bottom-left;
}

#me{
  margin-top: 50px;
	margin-right: 5px;
  float: right;
}

img #me {
  width: 100px;
  height: 100px;
}

#illustration{
  float: right;
  margin: 50px;
}
img #illustration {
  width: 100px;
  height: 100px;
}

#type{
  margin: 50px;
  float: right;
}
img #type {
  width: 100px;
  height: 100px;
}

#cake{
  margin: 50px;
  float: center-right;
}
img #cake {
  width: 100px;
  height: 100px;
}
